body {
    font-family: 'Courier New', monospace;
    background-color: #f5f5dc;
    color: #004225;
    padding: 0;
    margin: 0;
}

header {
    background-color: #004225;
    color: #f5f5dc;
    padding: 20px;
}

h1 {
    margin: 0;
    color : #009;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #f5f5dc;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2, section h3 {
    color: #004225;
}

section p {
    color: #004225;
}

article {
    background-color: #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #004225;
    color: #f5f5dc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ticker-wrap {
    background-color: #004225;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ticker {
    display: flex;
    animation: ticker 30s infinite linear;
    height: 50px;
    line-height: 50px;
}

.ticker__item {
    flex-grow: 1;
    padding: 0 2em;
    color: #f5f5dc;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

